/*Button*/

.button {
  border: 2px;
  border-radius: 8px;
  padding-block: 16px;
  padding-inline: 40px;
  text-align: center;
  background: #7c3aed;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #ffffff;
  transition: all 0.3s;
}

button:hover {
  background-color: #5523ab;
}

.button--min {
  padding-block: 12px;
  padding-inline: 28px;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.03em;
  transition: all 0.3s;
}
.button--min:hover {
  background-color: #5523ab;
}
.button--transparent {
  background-color: transparent;
  transition: all 0.3s;
  padding-block: 12px;
  padding-inline: 24px;
}
.button--transparent:hover {
  background-color: #5523ab;
}
.button--white-border {
  background-color: transparent;
  border: 2px solid #ffffff;
  padding-block: 16px;
  padding-inline: 31px;
  transition: 0.3s;
}
.button--white-border:hover {
  background-color: #5523ab;
  border: 2px solid #5523ab;
}
